<!--Riceve i dati  MA non li mostra-->
<!--<app-libriutente (carrello)="aggiungiAlCarrello($event)"></app-libriutente>-->

<div>
    <h1>Carrello</h1>
</div>
<div>
    <h2>Resoconto: </h2>
    <h2>Totale: </h2>
    <form action="">
        <label for="indirizzofatturazione">Inserisci indirizzo fatturazione: </label>
        <input type="text" name="indirizzofatturazione">
        <br>
        <label for="indirizzospedizione">Inserisci indirizzo spedizione: </label>
        <input type="text" name="indirizzospedizione">
        <br>
        <label for="indirizzofatturazione">Inserisci indirizzo fatturazione: </label>
        <input type="text" name="indirizzofatturazione">
        <br>
    </form>
    <button>Acquista</button>
</div>
