<!--Riceve i dati  MA non li mostra-->

<!--<app-carrello [carrello]="listacarrello"></app-carrello>-->
<div id="title">
    <h1>Carrello</h1>
</div>
<div id="back">
    <button class="bottoni-carrello" role="button" (click)="back()" class="btn41">HOME</button><br>
</div>
<div class="resoconto-div">
    <h2>Resoconto: </h2>
    <div>
        <ul>
            <li *ngFor="let p of carrello">
                    <h4>{{p.titolo}} - {{p.prezzo}} €  <button (click)="elimina(p.id)" class="btn5"> X </button></h4>
            </li>
        </ul>
    <button class="svuota" (click)="svuota()" class="btn5">Svuota carrello</button>
    <h2>Prezzo totale: {{ totale }} €</h2>
    </div>
    <form action="">
        <br>
        <label for="indirizzofatturazione">Indirizzo di fatturazione </label>
        <input type="text" name="indirizzofatturazione" placeholder="Inserisci l'indirizzo di fatturazione" class="module">
        <br>
        <br>
        <label for="indirizzospedizione">Indirizzo di spedizione </label>
        <input type="text" name="indirizzospedizione" placeholder="Inserisci l'indirizzo di fatturazione" class="module">
        <br>
        <br>
    </form>
    <div><button class="acquista" (click)="acquista()" class="btn5">Acquista</button></div>
    <br>
</div>

