
<h5>LISTA DEI LIBRI</h5>
<br><div *ngIf="isInserisciLibro" class="modal">
    <h4>Inserisci nuovo Libro</h4>
    <button (click)="toggleInsertLibri()">CHIUDI</button>
    <form [formGroup]="formInserisciLibri" (ngSubmit)="submitInserisciLibri()" >
        <label for="titolo">Titolo: </label>
        <input type="text" name="titolo" formControlName="titolo"><br>
        <label for="quantita">Quantità: </label>
        <input type="number" name="quantita" formControlName="quantitamagazzino"><br>
        <label for="prezzo">Prezzo: </label>
        <input type="number" name="prezzo" formControlName="prezzo"><br>
        <label for="editore">Editore: </label>
        <input type="text" name="editore" formControlName="editore"><br>
        <label for="annopubblicazione">Anno di Pubblicazione: </label>
        <input type="number" name="annopubblicazione" formControlName="annopubblicazione"><br>
        <label for="descrizione">Descrizione: </label>
        <input type="text" name="descrizione" formControlName="descrizione"><br>
        <label for="autore">Autore: </label>
        <input type="text" name="autore" formControlName="autore"><br>
        <label for="genere">Genere: </label>
        <input type="text" name="genere" formControlName="genere"><br>
        <label for="numeropagine">Numero Pagine: </label>
        <input type="number" name="numeropagine" formControlName="numeropagine"><br>

        <input type="submit" value="SUBMIT: Inserisci nuovo libro">
    </form>
</div>
<button (click)="toggleInsertLibri()" *ngIf="!isInserisciLibro">Inserisci un libro</button>

<!--BOTTONE PER VEDERE LIBRI-->
<div *ngIf="isLibro" class="modal">
<button (click)="toggleVediLibri()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Genere</th>
        <th>Anno di Pubblicazione</th>
        <th>Editore</th>
        <th>Numero di Pagine</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Descrizione</th>
        <th>Elimina</th>
        <th>Modifica</th>
    </thead>
    <tbody>
<tr *ngFor="let l of libri"> 
    <td>{{l.id}}</td>
    <td>{{l.titolo}}</td>
    <td>{{l.autore}}</td>
    <td>{{l.genere}}</td> 
    <td>{{l.annoPubblicazione}}</td> 
    <td>{{l.editore}}</td> 
    <td>{{l.numeroPagine}}</td> 
    <td>{{l.quantita}}</td> 
    <td>{{l.prezzo}}</td>
    <td>{{l.descrizione}}</td>
    <td><button (click)="deleteLibri(l.id)">Elimina</button></td> 
       
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediLibri()" *ngIf="!isLibro">Vedi Lista Libri</button>

<h5>LISTA DEI GIOCHI</h5>
<br><div *ngIf="isInserisciGioco" class="modal">
    <h4>Inserisci nuovo Gioco</h4>
    <button (click)="toggleInsertGiochi()">CHIUDI</button>
    <form [formGroup]="formInserisciGiochi" (ngSubmit)="submitInserisciGiochi()" >
        <label for="titolo">Titolo: </label>
        <input type="text" name="titolo" formControlName="titolo"><br>
        <label for="quantita">Quantità: </label>
        <input type="number" name="quantita" formControlName="quantita"><br>
        <label for="prezzo">Prezzo: </label>
        <input type="number" name="prezzo" formControlName="prezzo"><br>
        <label for="editore">Editore: </label>
        <input type="text" name="editore" formControlName="editore"><br>
        <label for="annoPubblicazione">Anno di Pubblicazione: </label>
        <input type="number" name="annopubblicazione" formControlName="annopubblicazione"><br>
        <label for="descrizione">Descrizione: </label>
        <input type="text" name="descrizione" formControlName="descrizione"><br>
        <label for="minEta">Età Minima: </label>
        <input type="number" name="minEta" formControlName="minEta"><br>
        <label for="minGiocatori">Numero Giocatori minimo: </label>
        <input type="number" name="minGiocatori" formControlName="minGiocatori"><br>
        <label for="maxGiocatori">Numero Giocatori massimo: </label>
        <input type="number" name="maxGiocatori" formControlName="maxGiocatori"><br>
        <label for="durata">Durata: </label>
        <input type="number" name="durata" formControlName="durata"><br>

        <input type="submit" value="SUBMIT: Inserisci nuovo gioco">
    </form>
</div>
<button (click)="toggleInsertGiochi()" *ngIf="!isInserisciGioco">Inserisci un gioco</button>

<!--BOTTONE PER VEDERE GIOCHI-->
<div *ngIf="isGioco" class="modal">
<button (click)="toggleVediGiochi()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Genere</th>
        <th>Anno di Pubblicazione</th>
        <th>Editore</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Età minima</th>
        <th>Numero minimo di giocatori</th>
        <th>Numero massimo di giocatori</th>
        <th>Durata</th>
        <th>Descrizione</th>
        <th>Elimina</th>
        <th>Modifica</th>
    </thead>
    <tbody>
<tr *ngFor="let l of giochi"> 
    <td>{{l.id}}</td>
    <td>{{l.titolo}}</td>
    <td>{{l.annoPubblicazione}}</td> 
    <td>{{l.editore}}</td> 
    <td>{{l.quantita}}</td> 
    <td>{{l.prezzo}}</td>
    <td>{{l.minEta}}</td>
    <td>{{l.minGiocatori}}</td>
    <td>{{l.maxGiocatori}}</td>
    <td>{{l.durata}}</td>
    <td>{{l.descrizione}}</td> 
    <td><button (click)="deleteGiochi(l.id)">Elimina</button></td>
       
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediGiochi()" *ngIf="!isGioco">Vedi Lista Giochi</button>

<h5>LISTA DEI DISCHI</h5>
<div *ngIf="isModificaDisco" class="modal">
    <h4>Modifica Disco</h4>
    <button (click)="toggleModificaDischi()">CHIUDI</button>
    <form [formGroup]="formModificaDischi" (ngSubmit)="submitModificaDisco()">
        <input type="hidden" formControlName="id">

        <label for="titolo">Titolo: </label>
        <input type="text" name="titolo" formControlName="titolo">
        <br>
        <label for="quantitamagazzino">Quantità: </label>
        <input type="number" name="quantitamagazzino" formControlName="quantitamagazzino">
        <br>
        <label for="prezzo">Prezzo: </label>
        <input type="number" name="prezzo" formControlName="prezzo">
        <br>
        <label for="editore">Editore: </label>
        <input type="text" name="editore" formControlName="editore">
        <br>
        <label for="annopubblicazione">Anno di Pubblicazione: </label>
        <input type="number" name="annopubblicazione" formControlName="annopubblicazione">
        <br>
        <label for="descrizione">Descrizione: </label>
        <input type="text" name="descrizione" formControlName="descrizione">
        <br>
        <label for="autore">Autore: </label>
        <input type="text" name="autore" formControlName="autore">
        <br>
        <label for="genere">Genere: </label>
        <input type="text" name="genere" formControlName="genere">
        <br>
        <label for="durata">Durata: </label>
        <input type="number" name="durata" formControlName="durata">
        <br>


        <label for="datanascita">Data nascita: </label>
        <input type="date" name="datanascita" formControlName="datanascita">
        <br>
        <input type="submit" value="SUBMIT: Modifica Disco">
    </form>
</div>

<!--INSERISCI DISCO-->
<br><div *ngIf="isInserisciDisco" class="modal">
    <h4>Inserisci nuovo Disco</h4>
    <button (click)="toggleInsertDischi()">CHIUDI</button>
    <form [formGroup]="formInserisciDischi" (ngSubmit)="submitInserisciDischi()" >
        <label for="titolo">Titolo: </label>
        <input type="text" name="titolo" formControlName="titolo"><br>
        <label for="quantita">Quantità: </label>
        <input type="number" name="quantita" formControlName="quantita"><br>
        <label for="prezzo">Prezzo: </label>
        <input type="number" name="prezzo" formControlName="prezzo"><br>
        <label for="editore">Editore: </label>
        <input type="text" name="editore" formControlName="editore"><br>
        <label for="annoPubblicazione">Anno di Pubblicazione: </label>
        <input type="number" name="annoPubblicazione" formControlName="annoPubblicazione"><br>
        <label for="descrizione">Descrizione: </label>
        <input type="text" name="descrizione" formControlName="descrizione"><br>
        <label for="autore">Autore: </label>
        <input type="text" name="autore" formControlName="autore"><br>
        <label for="genere">Genere: </label>
        <input type="text" name="genere" formControlName="genere"><br>
        <label for="durata">Durata: </label>
        <input type="number" name="durata" formControlName="durata"><br>

        <input type="submit" value="SUBMIT: Inserisci nuovo disco">
    </form>
</div>
<button (click)="toggleInsertDischi()" *ngIf="!isInserisciDisco">Inserisci un disco</button>

<!--BOTTONE PER VEDERE DISCHI-->
<div *ngIf="isDisco" class="modal">
<button (click)="toggleVediDischi()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Genere</th>
        <th>Anno di Pubblicazione</th>
        <th>Editore</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Durata</th>
        <th>Descrizione</th>
        <th>Elimina</th>
        <th>Modifica</th>
    </thead>
    <tbody>
<tr *ngFor="let l of dischi"> 
    <td>{{l.id}}</td>
    <td>{{l.titolo}}</td>
    <td>{{l.genere}}</td> 
    <td>{{l.autore}}</td>
    <td>{{l.annoPubblicazione}}</td> 
    <td>{{l.editore}}</td> 
    <td>{{l.quantita}}</td> 
    <td>{{l.prezzo}}</td>
    <td>{{l.durata}}</td>
    <td>{{l.descrizione}}</td> 
    <td><button (click)="deleteDischi(l.id)">Elimina</button></td>
       
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediDischi()" *ngIf="!isDisco">Vedi Lista Dischi</button>


