<div *ngIf="isInserisciLibro" class="modal">
    <h4>Nuovo Studente</h4>
    <button (click)="toggleInsertDischi()">CHIUDI</button>
    <form [formGroup]="formInserisciDischi" (ngSubmit)="submitInserisciDischi()" >
        <label for="titolo">Titolo</label>
        <input type="text" name="titolo" formControlName="titolo"><br>
        <label for="quantita">Quantità</label>
        <input type="number" name="quantita" formControlName="quantita"><br>
        <label for="datanascita">Data Nascita</label>
        <input type="date" name="datanascita" formControlName="datanascita"><br>
        <label for="username">Username</label>
        <input type="text" name="username" formControlName="username"><br>
        <label for="password">Password</label>
        <input type="text" name="password" formControlName="password"><br>

        <input type="submit" value="SUBMIT: Inserisci nuovo studente">
    </form>
</div>
<button (click)="toggleInsertDischi()" *ngIf="!isInserisciDisco">Inserisci uno studente</button>


<h5>LISTA DEI LIBRI</h5>
<div *ngIf="isLibro" class="modal">
<button (click)="toggleVediLibri()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Genere</th>
        <th>Anno di Pubblicazione</th>
        <th>Editore</th>
        <th>Numero di Pagine</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Descrizione</th>
        <th>Elimina</th>
        <th>Modifica</th>
    </thead>
    <tbody>
<tr *ngFor="let l of libri"> 
    <td>{{l.id}}</td>
    <td>{{l.titolo}}</td>
    <td>{{l.autore}}</td>
    <td>{{l.genere}}</td> 
    <td>{{l.annoPubblicazione}}</td> 
    <td>{{l.editore}}</td> 
    <td>{{l.nPagine}}</td> 
    <td>{{l.quantita}}</td> 
    <td>{{l.prezzo}}</td>
    <td>{{l.descrizione}}</td>
    <td><button (click)="deleteLibri(l.id)">Elimina</button></td> 
       
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediLibri()" *ngIf="!isLibro">Vedi Lista Libri</button>

<h5>LISTA DEI GIOCHI</h5>
<div *ngIf="isGioco" class="modal">
<button (click)="toggleVediGiochi()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Genere</th>
        <th>Anno di Pubblicazione</th>
        <th>Editore</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Età minima</th>
        <th>Numero minimo di giocatori</th>
        <th>Numero massimo di giocatori</th>
        <th>Durata</th>
        <th>Descrizione</th>
        <th>Elimina</th>
        <th>Modifica</th>
    </thead>
    <tbody>
<tr *ngFor="let l of giochi"> 
    <td>{{l.id}}</td>
    <td>{{l.titolo}}</td>
    <td>{{l.annoPubblicazione}}</td> 
    <td>{{l.editore}}</td> 
    <td>{{l.quantita}}</td> 
    <td>{{l.prezzo}}</td>
    <td>{{l.minEta}}</td>
    <td>{{l.minGiocatori}}</td>
    <td>{{l.maxGiocatori}}</td>
    <td>{{l.durata}}</td>
    <td>{{l.descrizione}}</td> 
    <td><button (click)="deleteGiochi(l.id)">Elimina</button></td>
       
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediGiochi()" *ngIf="!isGioco">Vedi Lista Giochi</button>

<h5>LISTA DEI DISCHI</h5>
<div *ngIf="isDisco" class="modal">
<button (click)="toggleVediDischi()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Genere</th>
        <th>Anno di Pubblicazione</th>
        <th>Editore</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Durata</th>
        <th>Descrizione</th>
        <th>Elimina</th>
        <th>Modifica</th>
    </thead>
    <tbody>
<tr *ngFor="let l of dischi"> 
    <td>{{l.id}}</td>
    <td>{{l.titolo}}</td>
    <td>{{l.genere}}</td> 
    <td>{{l.autore}}</td>
    <td>{{l.annoPubblicazione}}</td> 
    <td>{{l.editore}}</td> 
    <td>{{l.quantita}}</td> 
    <td>{{l.prezzo}}</td>
    <td>{{l.durata}}</td>
    <td>{{l.descrizione}}</td> 
    <td><button (click)="deleteDischi(l.id)">Elimina</button></td>
       
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediDischi()" *ngIf="!isDisco">Vedi Lista Dischi</button>


