<h5>LISTA DEGLI UTENTI</h5>
<div *ngIf="isUtente" class="modal">
<button (click)="toggleVediUtenti()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di Nascita</th>
        <th>E-mail</th>
        <th>Ruolo</th>
        <th>Indirizzo di Spedizione</th>
        <th>Indirizzo di Fatturazione</th>
        <th>Metodo di pagamento</th>
        <th>Elimina</th>
        <th>Modifica</th>
    </thead>
    <tbody>
<tr *ngFor="let l let of utenti"> 
    <td>{{l.id}}</td>
    <td>{{l.nome}}</td>
    <td>{{l.cognome}}</td> 
    <td>{{l.datanascita}}</td> 
    <td>{{l.email}}</td> 
    <td>{{l.ruolo}}</td> 
    <td>{{l.indirizzoSpedizione}}</td>
    <td>{{l.indirizzoFatturazione}}</td>
    <td>{{l.metodoPagamento}}</td>
    <td><button (click)="deleteUtenti(l.id)">Elimina</button></td>
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediUtenti()" *ngIf="!isUtente">Vedi Lista degli Utenti</button>