<h3>LISTA DEGLI UTENTI</h3>
<br><div *ngIf="isInserisciUtente" class="modal">
    <h4>Inserisci nuovo Utente</h4>
    <button (click)="toggleInsertUtente()">CHIUDI</button>
    <form [formGroup]="formInserisciUtente" (ngSubmit)="submitInserisciUtente()" >
        <label for="nome">Nome: </label>
        <input type="text" name="nome" formControlName="nome"><br>
        <label for="cognome">Cognome: </label>
        <input type="text" name="cognome" formControlName="cognome"><br>
        <label for="datanascita">Data di Nascita: </label>
        <input type="date" name="datanascita" formControlName="datanascita"><br>
        <label for="email">E-mail: </label>
        <input type="text" name="email" formControlName="email"><br>
        <label for="ruolo">Ruolo: </label>
        <input type="text" name="ruolo" formControlName="ruolo"><br>

        <input class="submit" type="submit" value="Conferma">
    </form>
</div>
<button (click)="toggleInsertUtente()" *ngIf="!isInserisciUtente">Inserisci un utente</button>

<!--LISTA UTENTI-->
<div *ngIf="isUtente" class="modal">
<button (click)="toggleVediUtenti()">CHIUDI</button>
<table>
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Data di Nascita</th>
        <th>E-mail</th>
        <th>Ruolo</th>
        <th>Indirizzo di Spedizione</th>
        <th>Indirizzo di Fatturazione</th>
        <th>Metodo di pagamento</th>
        <th>Elimina</th>
    </thead>
    <tbody>
<tr *ngFor="let l of utenti"> 
    <td>{{l.id}}</td>
    <td>{{l.nome}}</td>
    <td>{{l.cognome}}</td> 
    <td>{{l.dataNascita}}</td> 
    <td>{{l.email}}</td> 
    <td>{{l.ruolo}}</td> 
    <td>{{l.indirizzoSpedizione}}</td>
    <td>{{l.indirizzoFatturazione}}</td>
    <td>{{l.metodoPagamento}}</td>
    <td><button (click)="deleteUtenti(l.id)">Elimina</button></td>
</tr>
</tbody>
</table>
</div>
<button (click)="toggleVediUtenti()" *ngIf="!isUtente">Vedi Lista degli Utenti</button>