<h1>BENVENUTI NELL'AREA REGISTRAZIONE</h1>
<div class="reg-div">
    <form [formGroup]="formInserisciUtente" (ngSubmit)="submitForm()" >
        <label for="nome">Nome</label>
        <input type="text" name="nome" formControlName="nome" placeholder="Inserisci il nome" class="module"><br><hr>
        <label for="cognome">Cognome</label>
        <input type="text" name="cognome" formControlName="cognome" placeholder="Inserisci il cognome" class="module"><br><hr>
        <label for="datanascita">Data di Nascita</label>
        <input type="date" name="datanascita" formControlName="datanascita" placeholder="Inserisci la data di nascita" class="module"><br><hr>
        <label for="email">E-mail</label>
        <input type="text" name="email" formControlName="email" placeholder="Inserisci la mail" class="module"><br><hr>
        <label for="username">Username</label>
        <input type="text" name="username" formControlName="username" placeholder="Inserisci un username" class="module"><br><hr>
        <label for="password">Password</label>
        <input type="text" name="password" formControlName="password" placeholder="Inserisci una password" class="module"><br>
        <input type="submit" value="Effettua Registrazione" class="btn5">
    </form>
</div>


