/* BOTTONE ACCEDI/REGISTRAZIONE*/
h1{
    text-align: center;
}

.button-86 {
    all: unset;
    text-align: right;
    float: right;
    width: 50px;
    height: 10px;
    font-size: 12px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 20;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    transform: translate(0%, 0%);
    text-align: right;
    width: 100%;
    height: 100%;
    background: #111133;
    border-radius: 10px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    text-align: right;
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button-86:hover::before {
    transform: translate(5%, 20%);
    text-align: right;
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 10px;
    text-align: right;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    text-align: right;
    transform: translate(0, 5%);
  }

  /*#logo
{
  position: absolute;
  top: 45px;
  bottom: 100px;
  left: 450px;
}*/

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

#logo img {
  margin-right: 20px;
  width: 150px;
  height: 150px;
}

#libri{
  /*width: 500px;
  height: 300px;*/
  width: 200px;
  height: 200px;
  background-color: #ff7300;
  /*background-image: image-set('assets/images/libri.jpg');
  background-repeat: no-repeat;
  background-position: center center;*/
  font-size: 100;
  color: rgb(0, 133, 55);
  box-shadow: 10px 10px 10px rgb(2, 117, 64);
  /*margin-right: 30px;*/

}
#giochi{
  /*width: 500px;
  height: 300px;*/
  width: 200px;
  height: 200px;
  background-color: #ff7300;
  /*background-image: image-set('assets/images/giochi.jpg');
  background-repeat: no-repeat;
  background-position: center center;*/
  font-size: 100px;
  color: rgb(0, 133, 55);
  box-shadow: 10px 10px 10px rgb(2, 117, 64);
}
#dischi{
  /*width: 500px;
  height: 300px;*/
  width: 200px;
  height: 200px;
  background-color: #ff7300;
  /*background-image: image-set('assets/images/vinili.jpg');
  background-repeat: no-repeat;
  background-position: center center;*/
  font-size: 100px;
  color: rgb(0, 133, 55);
  box-shadow: 10px 10px 20px rgb(2, 117, 64);
  /*margin-right: 30px;*/
}

/*#libri:hover, #dischi:hover, #giochi:hover {
  width: 520px;
  height: 320px;
}*/

.bottoniiniziali{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.recentitotale{
  display: flex;
}

.recentidiv
{
  width: 60%;
  justify-content: center;
  text-align: center;
  font-size: 22px;
}

.icon{
  width: 100px;
  height: 100px;
}

.recente-div {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

.recente-div h4 {
  color: white;
}

.recente-div img {
  box-shadow: 10px 10px 20px rgb(31, 31, 31);
}

h2 {
  color: white;
  text-shadow: black;
  text-decoration:solid;
}

.btn5{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border:none;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'arial';
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#e66a17;
  box-shadow:inset 0 -0.6em 0 -0.3em rgba(0,0,0,0.20);
  text-align:center;
  position:relative;
  cursor:pointer;
}
.btn5:hover{
  background:#ff812c;
}
.btn5:active{
  background:#e66a17;
  top:0.15em;
  color:#D9D9D9;
  box-shadow:none;
}

.header {
  display: flex-end;
}