<body>
    

<div><button class="btn6" role="button" (click)="login()" *ngIf="!isLogin">ACCEDI</button></div><br>
<br><button class="btn6" role="button" (click)="registrazione()">REGISTRATI</button>

<br>
<div id="logo">
    <img src="assets/images/logoBa.png" height="100px" width="90px"/>
    <h1>E-COMMERCE BASILISKO</h1>
</div>
<br>
<div class="bottoniiniziali">
    <button id="libri" role="button" (click)="arealibri()" ></button>
    <button id="dischi" role="button" (click)="areadischi()"></button>
    <button id="giochi" role="button" (click)="areagiochi()"></button>
</div>
<div class="recentitotale">
    <div class="recentidiv">
        <div><h2>Novità Libri </h2></div>
        <hr>
        <div *ngFor="let l of libri" class="recente-div">
            <img src="../../../assets/images/Libri/id{{l.id}}.jpg" alt="" class="icon">
            <h4>{{l.titolo}}</h4>
            {{l.autore}}<br>
            {{l.annoPubblicazione}}<br>
        </div><br>
    <button class="btn5" role="button" (click)="arealibri()">VEDI DI PIÙ</button><br>
    </div>

<div class="recentidiv">
    <div><h2>Novità Dischi </h2></div>
    <hr>
    <div *ngFor="let d of dischi" class="recente-div">
    <img src="../../../assets/images/dischi/id{{d.id}}.jpg" alt="" class="icon">
    <h4>{{d.titolo}}</h4>
    {{d.autore}} <br>
    {{d.annoPubblicazione}}<br>
    </div><br>
<button class="btn5" role="button" (click)="areadischi()">VEDI DI PIÙ</button><br> 
</div>
<div class="recentidiv">
    <div><h2>Novità Giochi</h2></div>
    <hr>
    <div *ngFor="let g of giochi" class="recente-div">
        <img src="../../../assets/images/giochi/id{{g.id}}.jpg" alt="" class="icon">
        <h4>{{g.titolo}}</h4>
        {{g.editore}}<br>
        {{g.annoPubblicazione}}<br>
    </div><br>
<button class="btn5" role="button" (click)="areagiochi()">VEDI DI PIÙ</button><br> 
</div>
</div>

</body>
    



