<body>
    

<button class="button-86" role="button" (click)="login()" *ngIf="!isLogin">ACCEDI</button><br>
<br><button class="button-86" role="button" (click)="registrazione()">REGISTRATI</button>

<br>
<div id="logo"><img src="assets/images/logoBa.png" height="100px" width="90px"/></div>
<h1>E-COMMERCE BASILISKO</h1>
<br>
<div class="bottoniiniziali">
<div><button id="libri" role="button" (click)="arealibri()">LIBRI</button> </div>
<div><button id="dischi" role="button" (click)="areadischi()">DISCHI</button></div>
<div><button id="giochi" role="button" (click)="areagiochi()">GIOCHI</button></div>
</div>
<div class="recentitotale">
    <div class="recentidiv">
        <div><h2>I Libri Più Recenti </h2></div>
        <hr>
        <div *ngFor="let l of libri">
            <h4>{{l.titolo}}</h4>
            Autore: {{l.autore}}<br>
            Anno Pubblicazione: {{l.annoPubblicazione}}
        </div><br>
    <button class="button-87" role="button" (click)="arealibri()">VEDI DI PIÙ</button><br>
    </div>

<div class="recentidiv">
    <div><h2>I Dischi Più Recenti </h2></div>
    <hr>
    <div *ngFor="let d of dischi">
    <h4>{{d.titolo}}</h4>
    Autore: {{d.autore}} <br>
    Anno Pubblicazione: {{d.annoPubblicazione}}
    </div><br>
<button class="button-87" role="button" (click)="areadischi()">VEDI DI PIÙ</button><br> 
</div>
<div class="recentidiv">
    <div><h2>I Giochi Più Recenti </h2></div>
    <hr>
    <div *ngFor="let g of giochi">
    <h4>{{g.titolo}}</h4>
    Editore: {{g.editore}}<br>
    Anno Pubblicazione: {{g.annoPubblicazione}}
    </div><br>
<button class="button-87" role="button" (click)="areagiochi()">VEDI DI PIÙ</button><br> 
</div>
</div>

</body>
    



